[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plotdap"]
	path = plotdap
	url = https://github.com/rmendels/plotdap
[submodule "rerddapXtracto"]
	path = rerddapXtracto
	url = https://github.com/rmendels/rerddapxtracto
