[submodule ".registry"]
	path = .registry
	url = https://github.com/rmendels/rmendels.r-universe.dev
	branch = HEAD
[submodule "YourPackageName"]
	path = YourPackageName
	url = https://github.com/rmendels/rerddapUtils
